---
import Input from "./Input.astro";
import Select from "./Select.astro";
import { getUruguayDate } from "../utils/getUruguayDate.js";

const uruguayDate = getUruguayDate();
const vehiculoOptions = [
  { value: "F1", label: "F1" },
  { value: "F2", label: "F2" },
  { value: "F4", label: "F4" },
  { value: "F5", label: "F5" },
  { value: "F6", label: "F6" },
  { value: "CO", label: "CO" },
  { value: "CC", label: "CC" },
  { value: "Helado", label: "Helado" },
  { value: "Eventual", label: "Eventual" },
];

const razonesOptions = [
  { value: "roto", label: "Roto" },
  { value: "sobro", label: "Sobró" },
  { value: "falto", label: "Faltó" },
  { value: "cambiado", label: "Cambiado" },
  { value: "razon_secos", label: "Razón Secos" },
  { value: "otros", label: "Otros" },
];
---

<div class="flex flex-col items-center justify-center min-h-screen p-4">
  <img src="../LogoSinFondo.png" alt="LogoDistrilog" class="w-26 h-auto mb-4" />
  <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center">
      PLANILLA DE CONTROL <br /> FIN DE REPARTO
    </h1>
    <form
      id="controlForm"
      class="space-y-4"
      method="post"
      onsubmit="event.preventDefault();"
    >
      <!-- Fecha -->
      <Input
        label="Fecha"
        type="date"
        name="fecha"
        value={uruguayDate}
        placeholder="DD/MM/AAAA"
      />

      <!-- Numero de camioneta -->
      <Select
        label="Modelo de camioneta"
        name="modelo"
        options={vehiculoOptions}
      />

      <!-- Articulo -->
      <Input
        label="Artículo"
        type="text"
        name="articulo"
        placeholder="Artículo"
      />

      <!-- Cantidad -->
      <Input
        label="Cantidad"
        type="number"
        name="cantidad"
        placeholder="Cantidad"
      />

      <!-- Motivo -->
      <Select label="Motivo" name="motivo" options={razonesOptions} />

      <!-- Chofer -->
      <Input label="Chofer" type="text" name="chofer" placeholder="Chofer" />

      <!-- Otros -->
      <Input label="Otros" type="text" name="otros" placeholder="Otros" />

      <!-- Boton de enviar -->
      <button
        type="submit"
        class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
      >
        Enviar
      </button>
    </form>
  </div>
</div>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

    const { data: response, error } = await actions.excelForm(data); 
   
    if (error) {
      console.log(error);
      alert(`Error: ${error.message}`);
    }

    if (response) {
      console.log(response);
      alert("Formulario enviado correctamente");
      form.reset();
    }
  });
</script>
